/* style.css */
body {
    background: #d0f0ff;
    text-align: center;
  }
#profitPerHour {
  font-size: 1.2em;
  color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  padding: 10px;
  border: 2px solid #ff0000;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  animation: pulseRed 3s infinite; /* Анімація для переливу */
}

@keyframes pulseRed {
  0% { color: #ff0000; }
  50% { color: #ff6666; }
  100% { color: #ff0000; }
}
.scrollable-menu {
  width: 100%; /* Встановлюємо ширину на всю доступну ширину */
  overflow-x: auto; /* Додаємо горизонтальну прокрутку */
  -webkit-overflow-scrolling: touch; /* Додає плавну прокрутку на мобільних пристроях */
}

.menu {
  display: flex; /* Розташовуємо кнопки в ряд */
  padding: 10px 0; /* Відступи зверху та знизу */
}

.menu button {
  padding: 10px 20px; /* Відступи всередині кнопки */
  font-size: 1em; /* Розмір шрифта */
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 10px; /* Відступи між кнопками */
}

.menu button:hover {
  background-color: #e60000;
}
