/* style.css */
body {
    background: #d0f0ff;
    text-align: center;
  }
#profitPerHour {
  font-size: 1.2em;
  color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  padding: 10px;
  border: 2px solid #ff0000;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  animation: pulseRed 3s infinite; /* Анімація для переливу */
}

@keyframes pulseRed {
  0% { color: #ff0000; }
  50% { color: #ff6666; }
  100% { color: #ff0000; }
}
.menu {
  display: flex;
  overflow-x: auto; /* Додаємо можливість горизонтальної прокрутки */
  margin-top: 30px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  white-space: nowrap; /* Перешкоджає розриву елементів на нові рядки */
  box-sizing: border-box;
}

.menu button {
  padding: 6px 12px; /* Зменшення padding для кнопок */
  font-size: 0.9em; /* Зменшення шрифту */
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 10px; /* Додаємо відступи між кнопками */
  text-align: center; /* Центруємо текст в кнопках */
}

.menu button:hover {
  background-color: #e60000;
}
